<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="false"
        android:name=".App"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_image_search_24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unsplash"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.Unsplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.example.imageshering"
                    android:host="oauth2redirect"/>
                <data android:scheme="https"
                    android:host="unsplash.com"
                    android:pathPrefix="/photos/" />
                <category android:name="android.intent.category.LAUNCHER" />
<!--                <data android:scheme="https"-->
<!--                    android:host="imageshering.example.com"-->
<!--                    android:pathPrefix="/oauth2redirect"/>-->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:theme="@style/Theme.Unsplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.example.imageshering"
                    android:host="logout"/>

            </intent-filter>
        </activity>
    </application>

</manifest>